{% extends "layout.html" %}
{% block content %}


<div class="jumbotron bg-light" style="background-color: whitesmoke !important;">
	<div class="row"><h4 class="text-success float-left"><b>Dashboard</b></h4></div>
	<div class="row text-center">
		<div class="col-xs-4 text-center">
			<div class="bg-success text-white pl-1 pr-1 rounded mb-0">No of Student(s)</div>
			<div class="bg-light text-success pl-1 pr-1 rounded mt-0"><h3>2</h3></div>
		</div>
		<div class="col-xs-4 text-center ml-2">
			<div class="bg-success text-white pl-1 pr-1 rounded mb-0">No of Track(s)</div>
			<div class="bg-light text-success pl-1 pr-1 rounded mt-0"><h3>2</h3></div>
		</div>
		<div class="col-xs-4 text-center ml-2">
			<div class="bg-success text-white pl-1 pr-1 rounded mb-0">No of Course(s)</div>
			<div class="bg-light text-success pl-1 pr-1 rounded mt-0"><h3>2</h3></div>
		</div>

	</div>
	<div class="container">
<div class="row"> 
<div class="col-xs-3 p-auto m-auto">
<button class="btn btn-lg btn-success" onclick="">Create</button>
</div>
<div class="col-xs-3 p-auto m-auto">
<button class="btn btn-lg btn-info ">Read</button>
</div>
<div class="col-xs-3 p-auto m-auto">
<button class="btn btn-lg btn-warning ">Update</button>
</div>
<div class="col-xs-3 p-auto m-auto">
<button class="btn btn-lg btn-danger ">Delete</button>
</div>
</div>
</div>
<div class="container mt-2">
<div class="row"> 
<div class="col-xs-3 p-auto m-auto">
<button class="btn btn-lg btn-success ">Post</button>
<button class="btn btn-lg btn-success ">User</button>
</div>
<div class="col-xs-3 p-auto m-auto">
<button class="btn btn-lg btn-info ">Post</button>
<button class="btn btn-lg btn-info ">User</button>
</div>
<div class="col-xs-3 p-auto m-auto">
<button class="btn btn-lg btn-warning ">Post</button>
<button class="btn btn-lg btn-warning ">User</button>
</div>
<div class="col-xs-3 p-auto m-auto">
<button class="btn btn-lg btn-danger ">Post</button>
<button class="btn btn-lg btn-danger ">User</button>
</div>
</div>
</div>
</div>
{% endblock %}

{% block content_b %}

{% endblock %}