{% extends "layout.html" %}
{% block content %}
<div class="container-fluid p-0" style="height: 25rem; background-color: blueviolet;">
<img src="{{ track.image }}" width="100%" height="100%">
</div>
{% endblock %}

{% block content_b %}
  <p class="bg-success text-white">{{ track.intro }}</p>
  <p class="">{{ track.message }}</p>
  {% for i in path %}
  
  {%  set title = i.title %}
  <a href="{{ url_for('studycenter', title = title, id = 1) }}" class="btn btn-lg btn-outline-success">{{ i.title }}</a>
  {% endfor %}

{% endblock %}