{% extends "layout.html" %}
{% block content %}
<div class=" container">
	<form method="POST" action="/login">
		<div class="form-group">
			<legend><b>User Login</b></legend>
		</div>
	    {{ form.csrf_token }}
	    {{ form.hidden_tag() }}
	    <div class="form-group">
            	{{ form.username(class="form-control", placeholder="Username", autofocus=true) }}
		</div>
		<div class="form-group">
			{{ form.password(class="form-control form-control-lg", placeholder="Passwword") }}
		</div>
		<div class="form-check">
			{{ form.remember(class="form-check-input") }}
			<small>{{ form.remember.label(class="form-check-label") }}</small>
		</div>
		<div class="form-group mt-2">
	    {{ form.submit(class="btn-success btn form-control") }}
	    
		</div>
	</form>
	<a href="" class="text-info">Forgot Password</a>
</div>

{% endblock %}